.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  place-items: center;
}

.empty-list {
  font-size: 20px;
}
