.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-block: 20px;
  padding-inline: 20px;
}

.settings {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 4px;
  padding-bottom: 20px;
  padding-inline: 20px;
}
.controllers {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 4px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-inline: 20px;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  align-self: center;
  max-width: 1450px;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 600px) {
  .content {
    padding: 30px;
  }
}
