.movie-card {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 2/3;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all ease 300ms;

  @media (max-width: 430px) {
    max-width: unset;
  }

  > .movie-poster {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #cbcbcb;
    object-fit: cover;
    transition: all ease 300ms;
  }

  > .movie-information {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 18px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    transition: all ease 300ms;
    opacity: 0;
    visibility: hidden;

    .movie-id {
      font-weight: 300;
      font-size: 0.7rem;
      > b {
        font-size: 0.75rem;
      }
    }
    .movie-year {
      font-weight: 300;
      font-size: 0.7rem;
      > b {
        font-size: 0.75rem;
      }
    }
    .movie-title {
      font-size: 1.1rem;
      margin-block: 10px;
      text-align: center;
      font-weight: bold;
    }
  }

  &:hover {
    cursor: pointer;

    .movie-information {
      opacity: 1;
      visibility: visible;
    }
    .movie-poster {
      scale: 1.02;
    }
  }
}
